.env
CineFlowAPI/.env
CineFlowAPI/obj/*
CineFlowAPI/bin/*
.vscode/
CineFlowAPI/bin/Debug/
.DS_Store
.idea/dataSources.xml
.idea/cineflow.iml
.idea/modules.xml
/.idea

# Frontend build output and dependencies
CineflowFront/dist/
CineflowFront/node_modules/
CineflowFront/.env.local
